/*.block-anime ul li a:hover{
.block-body ul li a:hover{
  color:white;
  transition: 0.5s ease all;
  
}*/
*{
	margin: 0 ;
	padding: 0 ;
	font-family: Tahoma, Roboto, sans-serif;
}
img{
	max-width: 100%;
	margin: 0 auto;
	height:auto; 
	
	
}
 ul li a{
	list-style-type: none;
}

/* body */
body{
	max-width: 1200px ;
	margin:20px;
	margin-left:auto;
	margin-right: auto;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

/* header */
.header{
		width: 100%;
	height: 150px;
	background-color: #183544;
		margin-top: 5px;
		font-family: arial;
		display:inline-block;
	}
	.header .sub-menu{
  width: 100%;
		height: 20%;
  overflow: hidden;
  background-color:#112530;
}
.header .sub-menu ul{
  margin-left: 10%;
}
.header .sub-menu ul li{
  width: 16.66%;
  float: left;
  padding: 5px 0px;
	display:block;
}
.header .sub-menu ul li a{
  font-size: 13px;
  text-align: right;
  color: #919CA2;
  transition: 1s ease all;
  list-style-type: none;
  text-decoration: none;
}
.header .sub-menu ul li a:hover{
  color: #2FAFBC;
  transition: 1s ease all;
}
.header .logo{
			text-align:left;
			height: 80%;
			width: 20%;
			float: left;
			
		}
.header .logo img{
			background-color: rgba(255,255,255,0.6);
			max-width: 100%;
			height: 100%;
   	border-radius: 0px 80px;
		}
.search-form{
			width: 50%;
			height: 80%;
	  		float: left;
			margin-top: 40px;
		}

	
	
/*  search form */
	.search-form input{
		padding: 10px 5px;
	}
	.search-form input[type=text]{
		min-width:250px;
		width: 70%;
		margin-left: 5%;

	}
	.search-form input[type=submit]{
		width: 15%;
		margin-left: 3%;
		background-color: orange;
	
	}
.sinhnhat{
	width: 30%;
	float: left;
	height: 80%;
}
.sinhnhat img{
	width: 100%;
	height: 100%;
  border-radius: 200px 0px 0px 0px;
}
	
/* body */
.body{
	font-family: Tahoma,Roboto,Arial,sans-serif; font-size: 80%; 
	padding-top: 40px;
	clear: both;
}

/* menu */
.menu{
	width: 100%;
	display: inline-block;
	text-align: right;
	float: right;
}

		
.menu ul li{
			display: inline-block;
			height: 55px;
				float: left;	
	min-width: 100px;
	position:relative;
			
		}
.menu ul li:hover{ 
	background-color: #FFFFFF;
	border-bottom: 5px solid orange;
}
			

.menu ul{
	width:100%;
	min-height: 60px;
	background-color:#112530;
	
}



.menu ul li a{
	color:white;
	padding: 18px 15px;
	text-decoration: none;
	text-align:center;
	float: none;
	display: block;
	
}
.menu ul li a:hover{
	color: black;

}



/*menu con */

/* san pham */
.body-left .body-left-menu{
	width: 100%;
	height: 500px;
	background-color: #FFFFFF;
}
.body-left .body-left-menu ul li:hover{
	background-color: #183544;

	transition: 1s ease all;
	
}
.body-left .body-left-menu ul li{
	list-style: none;
	padding: 15px 0px;
	background-color: #FF0000;
	border-bottom: 2px solid #F36F36;
	padding-top: 20px;
	transition: 1s ease all;

}
.body-left .body-left-menu ul li a{
	color: #FFFFFF;
	font-size: 16px;
	text-decoration: none;
	padding-left: 5px;
}
.body-left .body-left-menu ul li a:hover{

}

.body-main .block-product .block-body-item{
	width:100%;
	height:350px;

}
.body-main .block-product .block-body-item .block-body-item-img img:hover{
	transform: scale(1.2); /*dùng để kéo dãn đối tượng, ở đây mình dùng chỉ số 1.2 cho cả x và y, các bạn cũng có thể thay đổi chỉ số này hoặc các bạn muốn x và y có các chỉ số các nhau thì có thể tùy chỉnh theo cấu trúc sau : scale(x, y)*/
        /* Safari & Google Chrome */
        -webkit-transform: scale(1.2);
        /* Mozilla Firefox */
        -moz-transform: scale(1.2); 
        /* Opera */
        -o-transform: scale(1.2);
        /* IE 9 */
        -ms-transform: scale(1.2);
    cursor: pointer; 
}

.body-main .block-product .block-body-item .block-body-title a{
  color: black;
	text-decoration: none;
	transition:2s ease all;
	font-size:15px;
} 
.body-main .block-product .block-body-item .block-body-title a:hover{
	color: red;
	transition:2s ease all;
}
.body-main .block-product .block-body-item .price a{
	color: red;
	font-size: 18px;
	text-decoration: none;
  
}
.body-main .block-product .block-body-item .price a:hover{
  text-decoration: underline;
	
}


.block-body-button-tieu-bieu{
	padding:7px 10px;
	color: #FFFFFF;
	background-color: #F36F36;
	text-align:center;
	font-weight:bold;
	transition: 0.5 ease all;

}
.block-body-button-tieu-bieu:hover{
	background-color: #FFFFFF;
	color: #F36F36
}

.block-body-button-tieu-bieu a{
	text-decoration:none;
	color: white;
	font-size: 20px;
	transition: 0.5s ease all;
}

.block-body-button-tieu-bieu a:hover{
	color: #F36F36;

	transition: 0.5s ease all;
}

/*  body right */
.body-right{
	overflow: hidden;
	display: block;
	height:auto;
}
.body-right-title {
	font-weight:bold;
	
}
.body-right-title h2{
	padding:0px 10px 5%;
	color: #181354;
}
.body-right-item{
	max-width: 300px;
	min-width: 20%;
	padding: 10px 5px;
}

.block-body-button{
	width: 80%;
	font-weight:bold;
	background-color: #FF5F25;
	text-align:center;
	padding: 5px 0px;
	margin: 5px 10%;
	
}

.block-body-button  a {
	text-decoration:none;
	color:whitesmoke;
	font-size: 16px;
	transition: 0.5s ease all;
}
.block-body-button a:hover{
	color:white;
	transition: 0.5s ease all;
}
.body-right-item .body-right-title a{
	display: block;
	color: #333;
	text-align: center;
	text-decoration: unset;
}
.body-right-item .right-excerpt p{
	color: #333;
	display: block;
	text-align: center;
}
.body-right-item .right-price a{
	color: red;
	display: block;
	text-align: center;
	text-decoration: none;
}

/*single-page */

#single-page .block-body .block-body-item{
	min-width: 90%;
	padding: 5px 10px;
	min-height: 350px;
	background-color: #C5EFF7;
	max-width: 200px;
	margin: 20px auto;
	border-radius: 5px;
	
}

#single-page .block-body-item img{
	min-width:250px;

}

#single-page .block-body-title{
	padding: 20px 10px;
	text-align: center;
}


#single-page .block-body-content{
	padding: 20px;
	font-size: 15px;
	line-height: 25px;
	
}

#single-page .block-body-content {
	padding: 50px;
}
.search-excerpt{
	font-size: 18px;
}
.search-price a{
	color: red;
	font-size: 20px;
}
.search-block-body-button-tieu-bieu{   
	display: block;
	padding: 20px;

}
.search-block-body-button-tieu-bieu a{
	background-color: #FF6633;
	padding: 10px 100px;
	color: white;
	font-size: 20px;
	text-decoration:none;
	transition:1s ease all;
}
.search-block-body-button-tieu-bieu a:hover{
	background-color: white;
	color: #FF6633;
	transition: 1s ease all;
}

/*#######################footer#############*/
#footer{
  width: 100%;
  overflow: hidden;
  margin-top:45px;
}
#footer #info-footer{
  width: 100%;
  padding-top:15px;
  overflow: hidden;
  background-color: #183544;

}
#info-footer .info-footer-contact{
  width: 30%;
  float: left;
  color: #FFFFFF;
}
#info-footer .info-footer-contact h4{
  color: #FFFFFF;	
  font-size: 16px;
  padding-left:5px;
  padding-bottom: 10px;
}
#info-footer .info-footer-contact p{
  padding-left: 5px;
}
#info-footer .info-footer-manage{
  width: 20%;
  float: left;
}

#info-footer .info-footer-manage h3{
  color: #FFFFFF;
  font-size: 20px;
  padding-bottom: 10px;
}
#info-footer .info-footer-manage ul li{
	list-style-type: none;
	color: #FFFFFF;
}
#info-footer .info-footer-manage a{
	color: #FFFFFF;
	text-decoration: none; 
}
#info-footer .info-footer-register{
  width: 50%;
  float: left;
  color: #FFFFFF
}
#info-footer .info-footer-register h2{
  font-size: 18px;
  padding-bottom: 5px;
}
#info-footer .info-footer-register input[type=text]{
  margin-top: 15px;
  width: 60%;
  height: 35px;
  border-radius: 1px;
  padding-left: 10px;
}
#info-footer .info-footer-register input[type=submit]{
  width: 20%;
  height: 40px;
  background-color: #F36E36;
  margin-left: 2%;
} 
#info-footer .info-footer-register .app{
  width: 100%;
  float: left;
  overflow: hidden;
  margin-top: 30px;
}
#info-footer .info-footer-register .info-app{
  width: 45%;
  float: left;
  
}
#info-footer .info-footer-register .info-app img{
  width: 20%;
  float: left;
  margin-right:5px;
}
#info-footer .info-footer-register .app .info-app h3{
  width: 80%;
  padding-left: 5px;
  color:#F36E36;
 
}
#info-footer .info-footer-register .app .appstore{
  width: 55%;
  float: left;
}
#info-footer .info-footer-register .address{
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 25px;
}
#footer .cart-footer{
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}
#footer .cart-footer .cart-footer-1{
  width: 50%;
  float: left;
}
#footer .cart-footer .cart-footer-1 h3{
  font-size: 20px;
  color:#333;
  padding-bottom: 15px;
}
#footer .cart-footer .cart-footer-1 .cart-footer-1-img img{
  width: 10%;
  float: left;
  margin-right: 2%;
}
#footer .cart-footer .cart-footer-2{
  width: 25%;
  float: left;
}
#footer .cart-footer .cart-footer-2 h3{
  color: #333;
  font-size: 20px;
  padding-bottom: 15px;
}
#footer .cart-footer .cart-footer-2 .cart-footer-2-a{
  width: 100%;
  overflow:hidden;
}
#footer .cart-footer .cart-footer-2-a img{
 margin-right: 5px;
}
#footer .cart-footer .cart-footer-2 .cart-footer-2-b{
  width: 100%;
  margin-top: 20px;
}

#footer .cart-footer .cart-footer-3{
  width: 25%; 
  float: left;
}
#footer .cart-footer .cart-footer-3 h3{
  color: #333;
  font-size: 20px;
  padding-bottom: 15px;
}
#footer .cart-footer .cart-footer-3 .cart-footer-3-a{
  width: 50%;
  float: left;
}
#footer .cart-footer .cart-footer-3 .cart-footer-3-b{
  width: 50%;
  float: left;
}
#footer #connect{
  width: 100%;
  float: left;
  overflow: hidden;
  margin-top:25px;
  color: #333;
   margin-bottom: 50px;
}
#footer #connect .country-connect{
  width: 50%;
  float: left;
}
#footer #connect .social-connect{
  width: 25%;
  float: left;
}
#footer #connect .version{
  width: 25%;
  float: left;
 
}
#footer #connect .version .version-a{
  width: 60%;
  float: left;
}
#footer #connect .version-a p{
  width: 60%;
  float: left;
}
#footer #connect .version-b{
  width: 40%;
  float: left;
}





/*admin page */
.form {
  width: 80%;
  padding:40px ;
  background-color:white;
  margin:40px auto;
  display: block;
  
}

.form input , .form textarea{
  width:100%;
  margin-bottom: 20px;
  padding:20px 0px;
  font-size: 16px;
}

.form input[type=submit]{
 font-weight: bold;
  color:white;
  background-color: #27ae60;
 cursor:pointer;
}


.alert{
	
	background-color: white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	margin: 0 auto;
}

.alert-success{
	color : lightblue;
	padding-top: 20px;
	font-size: 18px;
}


.alert-error{
	color: #c0392b;
}
.about-contact h2{
	text-align: center;
	color: #F36F36;
	font-size: 30px;
	padding-bottom: 30px;

}
.about-contact {
	margin: 0px 30%;
}
.about-contact input[type=text],textarea{
	width: 80%;
	margin-top: 10px;
}
.about-contact button{
	width: 30%;
	height: 30px;
	color: white;
	font-size: 18px;
	margin-left: 25%;
	margin-top: 15px;
	background-color: #F36F36
}
.table{
  width:80%;
  background-color:white;
  padding:20px 10px;
  text-align: center;
  margin: 20 auto;
  
}

.table tbody tr{
  border: 6px solid #7f8c8d;
  margin: 5px 0px;
  padding:10px;  
  /*! background: green; */
}

.avatar{
  max-width:250px;
  padding:5px;
}

.avatar-big{
max-width: 100%;
width: auto;
display: block;
padding: 20px 0px;
}
/*end admin page */


.btn {
  background: #F36F36;
 
  border-radius: 28px;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;

  text-decoration: none;
}

.btn-checkout{
	background: #c2ad25;
}

.search-form input{
	background:white;	
}

.body-left{
	width: 15%;
	height: 500px;
	float:left;
	background-color: red;

}
.body-left img{
	width: 100%;
	height: 100%;
}

.body-main{
	float: left;
	width: 70%;
}

.body-right{
	float:left;
	width: 15%;
}

.block-product{
	width: 33%;
	float: left;
}


.block-body-item{
	background-color: lightgray;
	margin: 5px;
	text-align: center;
	min-height: 200px;
	position: relative;
}

.block-body-button-tieu-bieu{
	position: absolute;
	bottom: 0px;
	width: 60%;
	left:50%;
	transform: translateX(-50%);

}